{% extends "LGContactBundle::layout.html.twig" %}

{% block content %}
    <form novalidate action="{{ path('_contact') }}" method="POST" id="contact_form">
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_widget(form.message, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.message) }}
        </div>

        {{ form_rest(form) }}
        <input type="submit" value="Išsaugoti" class="btn btn-default" />
    </form>
{% endblock %}
